@model MeetingInfo
@{ <!-- farklı bir layout kullanmak istersek bu sekil sayfanın basına yazarız-->
    ViewBag.Title ="Toplantı Başvuru"; <!-- layout kısımlarındaki title kısmında gorunur dinamik olarak-->
    Layout= "_Layout2";
}
<main class="text-center">
    <h1 class="h4"> @ViewData["Selamlama"]</h1> <!--controller da tanımladıgımız viewbag,viewdata ifadeleri bu sekil direkt view da yazarız ordaki degerleri getiririz-->
    <p>Toplantı katılım durumunuzu bildiriniz</p>
    <div class="card my-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") tarihinde gerçekleşecek</li>
            <li class="list-group-item">@Model.NumberOfPeople Katılımcı</li>
        </ul>
    </div>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru yap</a>
</main>